<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="cruelty_2D00_free_2D00_bunny.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="sepfp.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="what-exactly-animal-testing-and-why-its-crueler-you-might-think-190380.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                
                </button>
                <a class="navbar-brand" href="#">
                    <img src="cruelty_2D00_free_2D00_bunny.jpg" alt="">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Cruelty Free Brands</a>
                    </li>
                    
                </ul>
            </div>
             $('.carousel').carousel({
  interval: 2000
})
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">

        <!-- Heading Row -->
        <div class="home">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="sepfp.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Why should i stop using makeup that has been tested on animals?
</h1>
                <p>The makeup industry is a billion dollar industry, making most of their money by selling rich colors, products that make your eyes appear larger, and confidence to millions across the world! However, these billion dollar companies often use animals to test the makeup we use everyday. </p>
                <p>It is a common misconception that makeup companies NEED to test on animals, in order to follow certain laws enforced by the government. In reality, the European Union recently passed laws that ban the importing and sale of animal tested products and ingredients. So basically….. Makeup companies are left to decide whether or not they want to test their products on animals or not. At the end of the day, it is up to YOU, the consumer, to decide if you want to spend your earned money towards a brand that tests on animals, by choice.</p>
                
                <h2>But testing vegan ingredients on an animal is better, right?</h2>
                <p>Technically, the word “vegan” is any food, product, clothing, etc. that does not contain any ingredients that came from an animal. Many think that “vegan” is another word for “all-natural” but that is definitely not the case. In other words, vegan ingredients should still not be tested on animals, because they may still contain harsh chemicals that can hurt our precious animals!	
</p>
                
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <div class="Cruelty Free Brands">
            <div class="col-md-4">
                <h2>Heading 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                
            </div>
  </body>
</html>